/node_modules
/public/hot
/public/storage
/public/demo-upwork
/public/demo-html
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
worker.log
