// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Tailwindcss
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
}

[x-cloak] {
    display: none;
}

.article-content {
    line-height: 2rem;
}
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
    margin-top: 1.25rem;
}

.truncate-two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #EEEEEE;
}

@media (min-width: 1280px) {
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 14px;
    }

    .menu-item--sub {
        display: none;
        min-width: 8.5rem;
    }
    .menu-item:hover .menu-item--sub,
    .menu-item:focus .menu-item--sub {
        display: block;
    }
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff !important;
}

@tailwind utilities;