// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Tailwindcss
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}

[x-cloak] {
    display: none;
}

body.modal-active {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.bg-blur {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.article-content {
    line-height: 2rem;
}
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
    margin-top: 1.25rem;
}

.truncate-two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1280px) {
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 14px;
    }

    .menu-item--sub {
        display: none;
        min-width: 8.5rem;
    }
    .menu-item:hover .menu-item--sub,
    .menu-item:focus .menu-item--sub {
        display: block;
    }
}


.timeline,
.timeline-gray {
    @apply w-full relative;
}
@media (min-width: 1024px) {
    .timeline,
    .timeline-gray {
        @apply w-3/4 mx-auto;
    }
}

.timeline::after,
.timeline-gray::after {
    content: ' ';
    @apply absolute w-2 top-0 bottom-0 left-1/2 -ml-1;
}
@media (min-width: 1024px) {
    .timeline::after {
        @apply bg-white;
    }
    .timeline-gray::after {
        @apply bg-ib-four;
    }
}

.timeline--container,
.timeline-gray--container {
    @apply w-11/12 px-6 py-2 relative;
}

@media (min-width: 1024px) {
    .timeline--container,
    .timeline-gray--container {
        @apply w-1/2;
    }
}

.timeline--container::after,
.timeline-gray--container::after {
    content: ' ';
    @apply absolute w-4 h-4 rounded-full shadow-md;
    @apply -right-2 top-4;
    @apply bg-ib-three;
    @apply z-10;
}
.timeline--container.left,
.timeline-gray--container.left {
    @apply left-0 text-right;
}
.timeline--container.right,
.timeline-gray--container.right {
    left: 8.333333%;
}

@media (min-width: 1024px) {
    .timeline--container.right,
    .timeline-gray--container.right {
        @apply left-1/2;
    }
}

.timeline--container.right::after,
.timeline-gray--container.right::after {
    @apply -left-2;
}
.timeline--container.left::before {
    content: ' ';
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    @apply absolute w-0 h-0 top-3 right-4;
}
.timeline-gray--container.left::before {
    content: ' ';
    border: medium solid #F4F4F4;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #F4F4F4;
    @apply absolute w-0 h-0 top-3 right-4;
}

.timeline--container.right::before {
    content: ' ';
    border: medium solid white;
    border-width: 10px 10px 10px 0px;
    border-color: transparent white transparent transparent;
    @apply absolute w-0 h-0 top-3 left-4;
}
.timeline-gray--container.right::before {
    content: ' ';
    border: medium solid #F4F4F4;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #F4F4F4 transparent transparent;
    @apply absolute w-0 h-0 top-3 left-4;
}

.timeline--content {
    @apply p-6 bg-white rounded-md shadow-md;
}
.timeline-gray--content {
    @apply p-6 bg-ib-four rounded-md shadow-md;

}

@tailwind utilities;